body {
	background:#000;
	color:#fff;
	margin:auto;
	padding:1em;
	max-width:80ch;
	font-family:sans-serif;
	line-height:2em
}

hr {
	background:#444;
	height:1px;
	border:none
}

a {
	color:#77f;
	text-decoration:none
}

button {
	background:#222;
	color:#fff;
	border-radius:0.5em;
	border: none;
	padding: 0.5em 1em;
}

table {
	width:100%;
	border-collapse:collapse
}

tr { text-align:center }

tr:nth-child(odd) {
	background:#111
}

tr:nth-child(even) {
	background:#222
}

.huge {
	font-size:8em;
	font-weight:bold;
	line-height:1em
}

@media(prefers-color-scheme: light) {
	body {
		background:#fff;
		color:#000
	}

	tr:nth-child(odd) {background:#eee }
	tr:nth-child(even) { background:#ddd }
	hr {background:#bbb}
	a { color:blue }
}
